@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-fragment-mono);
}

/* When .dark is present on <html>, swap variables for dark mode */
html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fragment-mono), monospace;
}
